<%= form_with(model: movie, local: true, class: "needs-validation") do |form| %>
  <% if movie.errors.any? %>
    <h4 class="alert-heading"><%= pluralize(movie.errors.count, "error") %> stopped this movie from being saved.</h4>
    <ul class="mb-0">
      <% movie.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter movie title." %>
  </div>

  <div class="mb-3">
    <%= form.label :overview, class: "form-label" %>
    <%= form.text_area :overview, class: "form-control", rows: 4, placeholder: "Short description or summary" %>
  </div>

  <div class="mb-3">
    <%= form.label :release_year, class: "form-label" %>
    <%= form.number_field :release_year, class: "form-control", placeholder: "e.g. 2025" %>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn btn-primary px-4" %>
  </div>
<% end %>