<div id="<%= dom_id movie %>">

  <div class="card mx-auto shadow-sm" style="width: 14rem;">
    <% if movie.poster_path.present? %>
      <img src="https://image.tmdb.org/t/p/original<%= movie.poster_path %>"
           alt="Poster for <%= movie.title %>"
           class="img-fluid mx-auto d-block rounded">
    <% end %>
  </div>

  <div class="container py-3">
    <div class="h4 py-1">
      <strong><%= movie.title %></strong>
      <small>(<%= movie.release_year %>)</small>
    </div>

    <div>
      <strong>Overview</strong>
      <br>
      <%= movie.overview %>
    </div>
  </div>
</div>
