<nav class="navbar fixed-top navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MovieLog</a>
    <%= form_with url: search_path, method: :get, local: true, class: "d-flex" do %>
      <%= text_field_tag :q, params[:q], class: "form-control me-2", placeholder: "Search movies..." %>
      <%= submit_tag "Search", class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </div>
</nav>


<div class="container">
  <div class="mt-5 pt-4">
    <%= render @movie %>
    <div class="d-flex align-items-center">
      <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn btn-sm btn-success m-2" %>

      <%= button_to "Delete",
                    movie_path(@movie),
                    method: :delete,
                    form: { data: { turbo_confirm: "Delete this movie?" } },
                    class: "btn btn-sm btn-danger" %>
    </div>
  </div>

</div>