<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MovieLog</a>
    <%= form_with url: search_path, method: :get, local: true, class: "d-flex" do %>
      <%= text_field_tag :q, params[:q], class: "form-control me-2", placeholder: "Search movies..." %>
      <%= submit_tag "Search", class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </div>
</nav>

<div class="container py-3 mt-5">
  <% if @q.present? %>
    <div class="h5 text-center">
      <h2>Results for “<%= @q %>”</h2>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
      <% @results.each do |m| %>
        <div class="col d-flex justify-content-center">
          <div class="card text-center shadow-sm" style="width: 14rem;">
            <% if m[:poster_path].present? %>
              <img class="card-img-top img-fluid" alt="Poster" src="https://image.tmdb.org/t/p/original<%= m[:poster_path] %>" class="img-fluid mx-auto d-block rounded">
            <% end %>
            <div class="card-body p-2">
              <h6 class="card-title mb-2"><%= m[:title] %> <small class="text-muted"><%= m[:release_year] %></small>
              </h6>
              <%= button_to "Add to Library",
                            movies_path(movie: m),
                            method: :post,
                            class: "btn btn-sm btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
